# 本文件说明
- 计算保监会Q2季度所有相关数据（title + content）中给定保险机构名单中各机构出现次数

# 基本设置

In [2]:
import os
import re
import time
import string

import xlrd

%matplotlib inline
import numpy as np
import pandas as pd
import pre_cor
# import pre_cor
import os
from sqlalchemy import create_engine
from pandas.io import sql
import re 
import warnings
warnings.filterwarnings('ignore')

Building prefix dict from the default dictionary ...
Dumping model to file cache C:\Users\ADMINI~1\AppData\Local\Temp\jieba.cache
Loading model cost 1.101 seconds.
Prefix dict has been built succesfully.

# 保险机构名单

In [11]:
sel_org = pd.read_excel('data/insurance_org_list_20180824.xlsx')
print(sel_org.shape)
sel_org.head()

(178, 1)

              name
0     仁和人寿保险股份有限公司
1   中国人民财产保险股份有限公司
2     中国人寿保险股份有限公司
3   中国平安人寿保险股份有限公司
4  中国太平洋人寿保险股份有限公司

In [12]:
circ_keyword = pd.read_excel('data/wise_class_tree_node_keyword.xlsx')
print(circ_keyword.shape)
circ_keyword.head()

(375, 9)

,id,name,query_nature,query_and,query_or,query_not,classify_id,node_id,flag
0,36,保监会,0,NaN,保险监督管理委员会 保监会 CIRC 银保监会 银行保险监督管理委员会,NaN,7,37,0
1,37,陈文辉,0,陈文辉,保险监督管理委员会 保监 CIRC 银保监,NaN,7,38,0
2,38,黄洪,0,黄洪,保险监督管理委员会 保监 CIRC 银保监,NaN,7,39,0
3,39,梁涛,0,梁涛,保险监督管理委员会 保监 CIRC 银保监,NaN,7,40,0
4,40,曹宇,0,曹宇,保险监督管理委员会 保监 CIRC 银保监,NaN,7,41,0

In [13]:
org_names = pd.merge(sel_org, circ_keyword, on = 'name', how = 'left')
print(org_names.shape)
org_names.head()

(178, 9)

,name,id,query_nature,query_and,query_or,query_not,classify_id,node_id,flag
0,仁和人寿保险股份有限公司,336.0,0.0,NaN,招商仁和 仁和人寿 仁和人寿保险 仁和寿险,NaN,9.0,337.0,0.0
1,中国人民财产保险股份有限公司,115.0,0.0,NaN,人保财险 人民财产保险 人保产险 人保车险,NaN,9.0,118.0,0.0
2,中国人寿保险股份有限公司,196.0,0.0,NaN,中国人寿保险股份 中国人寿股份 国寿股份,NaN,9.0,199.0,0.0
3,中国平安人寿保险股份有限公司,199.0,0.0,NaN,平安人寿 平安人寿保险 平安寿险 平安寿,NaN,9.0,202.0,0.0
4,中国太平洋人寿保险股份有限公司,195.0,0.0,NaN,太保寿险 太保人寿 太平洋人寿保险 太平洋人寿 太平洋寿险,NaN,9.0,198.0,0.0

## 机构字典

In [ ]:
org_name_list = org_names['name'].tolist()

for value in org_names['query_or']:
    name_list = value.split(' ')
    print(len(name_list), name_list)
    org_name_list += name_list
    
print(len(org_name_list))

In [ ]:
org_dict = {v:0, for v in org_name_list}
print(len(org_dict))
org_dict

# Q2季度数据

In [3]:
try :
    DB_CON_STR = 'mysql+pymysql://wisedb:Wi$eWeb123@10.80.88.73:5718/pom?charset=utf8'  
    engine = create_engine(DB_CON_STR, echo=False) 
    sql.execute('show databases', engine)
except :
    DB_CON_STR = 'mysql+pymysql://wisedb:Wi$eWeb123@47.95.148.133:5718/pom?charset=utf8'  
    engine = create_engine(DB_CON_STR, echo=False) 
    sql.execute('show databases', engine)

In [5]:
sql_num = "select count(id) \
                from wise_web_docinfo \
                where (date_format(publishtime, '%%Y-%%m-%%d') >= '2018-04-01' and \
                                      date_format(publishtime, '%%Y-%%m-%%d') < '2018-07-01')"

data_num = sql.execute(sql_num, engine).fetchall()[0][0]
chunksize = 1000  
print("NUM,  data size:%s, loops:%s"%(data_num, int(data_num/chunksize) + 1))

NUM,  data size:1431721, loops:1432

In [19]:
def get_day_list(start, end):
    import datetime
#     start='2018-08-10'
#     end='2018-08-16'

    datestart=datetime.datetime.strptime(start,'%Y-%m-%d')
    dateend=datetime.datetime.strptime(end,'%Y-%m-%d')

    day_list = []
    while datestart<dateend:
        datestart+=datetime.timedelta(days=1)
        day_list.append(datestart.strftime('%Y-%m-%d'))
        
    return day_list

day_list = get_day_list('2018-03-31', '2018-06-30')
print(day_list)

['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04', '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08', '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12', '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16', '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20', '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24', '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28', '2018-04-29', '2018-04-30', '2018-05-01', '2018-05-02', '2018-05-03', '2018-05-04', '2018-05-05', '2018-05-06', '2018-05-07', '2018-05-08', '2018-05-09', '2018-05-10', '2018-05-11', '2018-05-12', '2018-05-13', '2018-05-14', '2018-05-15', '2018-05-16', '2018-05-17', '2018-05-18', '2018-05-19', '2018-05-20', '2018-05-21', '2018-05-22', '2018-05-23', '2018-05-24', '2018-05-25', '2018-05-26', '2018-05-27', '2018-05-28', '2018-05-29', '2018-05-30', '2018-05-31', '2018-06-01', '2018-06-02', '2018-06-03', '2018-06-04', '2018-06-05', '2018-06-06', '2018-06-07', '2018-06-08', '2018-06-09', '2018-06-10', '2018-06-11', '2018-06-12', '2018-06-13', '2018-06-14', '2018-06-15', '2018-06-16', '2018-06-17', '2018-06-18', '2018-06-19', '2018-06-20', '2018-06-21', '2018-06-22', '2018-06-23', '2018-06-24', '2018-06-25', '2018-06-26', '2018-06-27', '2018-06-28', '2018-06-29', '2018-06-30']

In [20]:
for index, day in enumerate(day_list):
    print('-- %s  %s'%(index, day))
    
    if not os.path.exists('data/circ_Q2_data/circ_Q2_data_%s.xlsx'%day):
        sql_Q2 = "select t1.id, t1.publishtime, t1.title, t2.center as content \
                        from wise_web_docinfo t1, wise_web_docinfo_center t2 \
                        where t1.id = t2.doc_id and \
                                date_format(t1.publishtime, '%%Y-%%m-%%d') = '{0}'".format(day)

        tmp_data = pd.read_sql(sql_Q2, engine)
        print(tmp_data.shape)
        tmp_data.to_excel('data/circ_Q2_data/circ_Q2_data_%s.xlsx'%day, index = False)

-- 0  2018-04-01
(14061, 4)
-- 1  2018-04-02
(25951, 4)
-- 2  2018-04-03
(24280, 4)
-- 3  2018-04-04
(25006, 4)
-- 4  2018-04-05
(14264, 4)
-- 5  2018-04-06
(12509, 4)
-- 6  2018-04-07
(10300, 4)
-- 7  2018-04-08
(22998, 4)
-- 8  2018-04-09
(26254, 4)
-- 9  2018-04-10
(30796, 4)
-- 10  2018-04-11
(31088, 4)
-- 11  2018-04-12
(28159, 4)
-- 12  2018-04-13
(26321, 4)
-- 13  2018-04-14
(13859, 4)
-- 14  2018-04-15
(12029, 4)
-- 15  2018-04-16
(25755, 4)
-- 16  2018-04-17
(25587, 4)
-- 17  2018-04-18
(22216, 4)
-- 18  2018-04-19
(12704, 4)
-- 19  2018-04-20
(9158, 4)
-- 20  2018-04-21
(5078, 4)
-- 21  2018-04-22
(4666, 4)
-- 22  2018-04-23
(12103, 4)
-- 23  2018-04-24
(12758, 4)
-- 24  2018-04-25
(15277, 4)
-- 25  2018-04-26
(20858, 4)
-- 26  2018-04-27
(19780, 4)
-- 27  2018-04-28
(17409, 4)
-- 28  2018-04-29
(8885, 4)
-- 29  2018-04-30
(8983, 4)
-- 30  2018-05-01
(11488, 4)
-- 31  2018-05-02
(21313, 4)
-- 32  2018-05-03
(18696, 4)
-- 33  2018-05-04
(22942, 4)
-- 34  2018-05-05
(11959, 4)
-- 35  2018-05-06
(10213, 4)
-- 36  2018-05-07
(21116, 4)
-- 37  2018-05-08
(16359, 4)
-- 38  2018-05-09
(11586, 4)
-- 39  2018-05-10
(17567, 4)
-- 40  2018-05-11
(16221, 4)
-- 41  2018-05-12
(6088, 4)
-- 42  2018-05-13
(5737, 4)
-- 43  2018-05-14
(15098, 4)
-- 44  2018-05-15
(12645, 4)
-- 45  2018-05-16
(10953, 4)
-- 46  2018-05-17
(14083, 4)
-- 47  2018-05-18
(14969, 4)
-- 48  2018-05-19
(8214, 4)
-- 49  2018-05-20
(6069, 4)
-- 50  2018-05-21
(15653, 4)
-- 51  2018-05-22
(18374, 4)
-- 52  2018-05-23
(21173, 4)
-- 53  2018-05-24
(20811, 4)
-- 54  2018-05-25
(21652, 4)
-- 55  2018-05-26
(12208, 4)
-- 56  2018-05-27
(9123, 4)
-- 57  2018-05-28
(18436, 4)
-- 58  2018-05-29
(18170, 4)
-- 59  2018-05-30
(14386, 4)
-- 60  2018-05-31
(16934, 4)
-- 61  2018-06-01
(13103, 4)
-- 62  2018-06-02
(6429, 4)
-- 63  2018-06-03
(5090, 4)
-- 64  2018-06-04
(19721, 4)
-- 65  2018-06-05
(23800, 4)
-- 66  2018-06-06
(26132, 4)
-- 67  2018-06-07
(24148, 4)
-- 68  2018-06-08
(27644, 4)
-- 69  2018-06-09
(14883, 4)
-- 70  2018-06-10
(12949, 4)
-- 71  2018-06-11
(27831, 4)
-- 72  2018-06-12
(30719, 4)
-- 73  2018-06-13
(27253, 4)
-- 74  2018-06-14
(23612, 4)
-- 75  2018-06-15
(24453, 4)
-- 76  2018-06-16
(14078, 4)
-- 77  2018-06-17
(13167, 4)
-- 78  2018-06-18
(9505, 4)
-- 79  2018-06-19
(14792, 4)
-- 80  2018-06-20
(9392, 4)
-- 81  2018-06-21
(9400, 4)
-- 82  2018-06-22
(9337, 4)
-- 83  2018-06-23
(4712, 4)
-- 84  2018-06-24
(2806, 4)
-- 85  2018-06-25
(6865, 4)
-- 86  2018-06-26
(6075, 4)
-- 87  2018-06-27
(5686, 4)
-- 88  2018-06-28
(6480, 4)
-- 89  2018-06-29
(8492, 4)
-- 90  2018-06-30
(3839, 4)

In [ ]:
#n 读入数据
file_list = os.listdir('data/circ_Q2_data')
circ_Q2_data = pd.DataFrame()

for file_name in file_list:
    file_data = pd.read_excel('data/circ_Q2_data/%s'%file_name)
    print('file_name: ', file_name, '  shape: ', file_data.shape)
    file_data['title_content_len'] = file_data.apply(lambda x:len(x['title'].astype(str)) + len(x['content'].astype(str)))
    circ_Q2_data = pd.concat([circ_Q2_data, file_data], axis = 0)
    
print(circ_Q2_data.shape)
circ_Q2_data.head()

In [ ]:
circ_Q2_data.info(memory_usage = 'deep')

In [ ]:
file_list = os.listdir('data/circ_Q2_data')
file_list.sort(reverse = True)
print(len(file_list))

for index, file_name in enumerate(file_list):
    file_name_count = file_name.replace('data_', 'data_count_')
    day = file_name_count[-15:-5]
    print(index, file_name, file_name_count)
    if not os.path.exists('data/circ_Q2_data_count/%s'%file_name_count):
        file_data = pd.read_excel('data/circ_Q2_data/%s'%file_name)
        print('file_name: ', file_name, '  shape: ', file_data.shape)
        file_data['title_content'] = file_data['title'].astype(str) + '。' + file_data['content'].astype(str)
        
        data_pre = pre_cor.handle_contents(file_data.loc[:, 'title_content'].tolist())
        count_word = Counter(" ".join(data_pre).split())
        
        org_name_dict = {}
        for org in org_name_list:
            if org in count_word:
                org_name_dict[org] = count_word[org]
            else :
                org_name_dict[org] = 0        
        
        org_count_res = pd.DataFrame.from_dict(org_name_dict, orient='index')
        org_count_res = org_count_res.reset_index()
        org_count_res.columns = ['name', 'count_%s'%day]
        
        org_count_res.to_excel('data/circ_Q2_data_count/%s'%file_name_count, index = False)

91
0 circ_Q2_data_2018-06-30.xlsx circ_Q2_data_count_2018-06-30.xlsx
file_name:  circ_Q2_data_2018-06-30.xlsx   shape:  (3839, 4)