- 获取股票数据

# 基本设置

In [12]:
from sqlalchemy import create_engine
from pandas.io import sql
from sklearn import datasets
import pandas as pd

DB_CON_STR = 'mysql+pymysql://xh:987654321@localhost/stock_db?charset=utf8'  
engine = create_engine(DB_CON_STR, echo=False)

In [22]:
iris_datas = datasets.load_iris()
iris = pd.DataFrame(iris_datas.data, columns=['SpealLength', 'Spealwidth', 
                                              'PetalLength', 'PetalLength'])
iris['target'] = iris_datas.target
iris['target'] = iris['target'].apply(lambda x:iris_datas.target_names[x])
iris.head()

   SpealLength  Spealwidth  PetalLength  PetalLength  target
0          5.1         3.5          1.4          0.2  setosa
1          4.9         3.0          1.4          0.2  setosa
2          4.7         3.2          1.3          0.2  setosa
3          4.6         3.1          1.5          0.2  setosa
4          5.0         3.6          1.4          0.2  setosa

In [21]:
iris_datas.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [17]:
dir(iris_datas)

['DESCR', 'data', 'feature_names', 'target', 'target_names']

In [23]:
sql.to_sql(iris, 'test_data', engine, schema='stock_db', if_exists='replace')