In [3]:
import os
os.getcwd()

'D:\\XH\\Python_Project\\notebook\\proj_cbirc'

In [1]:
import pandas as pd

In [4]:
data = pd.read_table('data/administrative_division_four_level.txt',delim_whitespace=True)

In [5]:
data.head()

   地址名称       行政编码      父行政编码 父行政区划名称   层级
0   安徽省  340000000          0       1  NaN
1   宣城市  341800000  340000000     安徽省  2.0
2   宁国市  341881000  341800000     宣城市  3.0
3   方塘乡  341881204  341881000     宁国市  4.0
4  西津街道  341881001  341881000     宁国市  4.0

In [12]:
data.shape

(43221, 5)

In [16]:
data[data['父行政区划名称'] == '1'][:]

           地址名称       行政编码  父行政编码 父行政区划名称  层级
0           安徽省  340000000      0       1 NaN
1602        北京市  110000000      0       1 NaN
1951        福建省  350000000      0       1 NaN
3148        甘肃省  620000000      0       1 NaN
4603        广东省  440000000      0       1 NaN
6333    广西壮族自治区  450000000      0       1 NaN
7701        贵州省  520000000      0       1 NaN
9161        海南省  460000000      0       1 NaN
9415        河北省  130000000      0       1 NaN
11797       河南省  410000000      0       1 NaN
14353      黑龙江省  230000000      0       1 NaN
15786       湖北省  420000000      0       1 NaN
17139       湖南省  430000000      0       1 NaN
19651       吉林省  220000000      0       1 NaN
20606       江苏省  320000000      0       1 NaN
21925       江西省  360000000      0       1 NaN
23588       辽宁省  210000000      0       1 NaN
25232    内蒙古自治区  150000000      0       1 NaN
26340   宁夏回族自治区  640000000      0       1 NaN
26605       青海省  630000000      0       1 NaN
27066       山东省  370000000      0       1 NaN
28994       山西省  140000000      0       1 NaN
30538       陕西省  610000000      0       1 NaN
31947       上海市  310000000      0       1 NaN
32180       四川省  510000000      0       1 NaN
37006       天津市  120000000      0       1 NaN
37265     西藏自治区  540000000      0       1 NaN
38041  新疆维吾尔自治区  650000000      0       1 NaN
39195       云南省  530000000      0       1 NaN
40733       浙江省  330000000      0       1 NaN
42157       重庆市  500000000      0       1 NaN

In [9]:
data['层级'].value_counts(dropna = False)

 4.0    39928
 3.0     2916
 2.0      346
NaN        31
Name: 层级, dtype: int64

In [7]:
help(data['层级'].value_counts)

Help on method value_counts in module pandas.core.base:

value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True) method of pandas.core.series.Series instance
    Returns object containing counts of unique values.

    The resulting object will be in descending order so that the
    first element is the most frequently-occurring element.
    Excludes NA values by default.

    Parameters
    ----------
    normalize : boolean, default False
        If True then the object returned will contain the relative
        frequencies of the unique values.
    sort : boolean, default True
        Sort by values
    ascending : boolean, default False
        Sort in ascending order
    bins : integer, optional
        Rather than count values, group them into half-open bins,
        a convenience for pd.cut, only works with numeric data
    dropna : boolean, default True
        Don't include counts of NaN.

    Returns
    -------
    counts : Series