# 基本设置
- 读取csv文件几行数据，在hive上建立外联表，同时写hadoop上的关联语句

In [1]:
import pandas as pd
import numpy as np
import os

names = locals()
data_folder = r'F:\jxg_data\jxg_data'
result_folder = r'F:\jxg_data'

In [2]:
from impala.dbapi import connect
from impala.util import as_pandas

conn = connect(host="192.168.20.102", port=10000,  # database="system", 
               auth_mechanism="PLAIN",
               user = 'admin', password = 'admin')
cursor = conn.cursor()

# 建hive表 + 写hadoop语句

In [3]:
def run_hive_query(sql_command):   
    cursor.execute(sql_command)  
    return cursor.fetchall() 

database_name = 'data_analysis'
cursor.execute("use "+ database_name) 

table_list = [name[0] for name in run_hive_query("show tables")] 
table_list.remove('company_base_business_merge_new_tmp')
table_list.remove('company_base_business_merge_old')
table_list

['company_base_business_merge_new_bak',
 'company_base_contact_info_new',
 'company_branch_new',
 'company_business_change_new',
 'company_custom_rating',
 'company_execute_persons',
 'company_imp_exp_credit_info',
 'company_outbound_investment',
 'company_promoters_info_new',
 'company_senior_manager_new']

In [ ]:
cursor.execute("select * from company_execute_persons")
tmp_data = as_pandas(cursor)
tmp_data.shape

In [6]:
index = 1
file_name = os.path.join(data_folder, filename_list['文件名称'][index])
table_name = filename_list['file_name'][index]    
print('--  处理第 %s 张表：%s'%(index +1, table_name))
data = pd.read_csv(file_name)

--  处理第 2 张表：company_execute_persons

In [8]:
print(data.shape)
data.head()

(6396392, 5)

,execute_type,execute_perform,chanle_id,company_gather_time,company_name
0,0.0,全部未履行,63e6ab8d-2fd9-4398-83d5-44ae8add0b3b,2017-12-07 18:18:40,王新华
1,0.0,全部未履行,6befce1f-586f-4eb3-9737-64a56324a384,2018-01-17 02:13:42,杨福权
2,1.0,全部未履行,acc16ae7-6f98-421f-8336-91cc59d1b556,2018-01-19 22:20:41,徐州鼎恒新型材料有限公司
3,0.0,全部未履行,acc1cb36-8f8c-4159-8ee1-8bb945e618a0,2017-09-22 08:53:36,段小建
4,0.0,全部未履行,0efd611f-9330-4af8-87df-6a4ac0458b41,2017-09-15 19:42:30,孙凤

In [9]:
data['name_length'] = data['company_name'].apply(lambda x: len(x))

In [10]:
data.head()

,execute_type,execute_perform,chanle_id,company_gather_time,company_name,name_length
0,0.0,全部未履行,63e6ab8d-2fd9-4398-83d5-44ae8add0b3b,2017-12-07 18:18:40,王新华,3
1,0.0,全部未履行,6befce1f-586f-4eb3-9737-64a56324a384,2018-01-17 02:13:42,杨福权,3
2,1.0,全部未履行,acc16ae7-6f98-421f-8336-91cc59d1b556,2018-01-19 22:20:41,徐州鼎恒新型材料有限公司,12
3,0.0,全部未履行,acc1cb36-8f8c-4159-8ee1-8bb945e618a0,2017-09-22 08:53:36,段小建,3
4,0.0,全部未履行,0efd611f-9330-4af8-87df-6a4ac0458b41,2017-09-15 19:42:30,孙凤,2

In [12]:
data[data['name_length'] < 4].shape

(4800066, 6)

In [18]:
for table_name in table_list:
    cursor.execute("select * from %s limit 10"%table_name)
    tmp = cursor.fetchall()
    tmp = pd.DataFrame(tmp)
    print('--------------  ', table_name)
    print(tmp)

--------------   company_base_business_merge_new_bak
                      0                     1                      2   \
0  company_regis_capital  company_operat_state           company_type
1               0.000000          存续（在营、开业、在册）                  个体工商户
2               0.000000          存续（在营、开业、在册）                  个体工商户
3              50.000000          存续（在营、开业、在册）       有限责任公司(自然人投资或控股)
4               0.000000                    注销                  个体工商户
5             500.000000          存续（在营、开业、在册）                农民专业合作社
6             500.000000          存续（在营、开业、在册）           限责任公司(自然人独资)
7             300.000000          存续（在营、开业、在册）                 有限责任公司
8              10.000000          存续（在营、开业、在册）  有限责任公司(自然人投资或控股的法人独资)
9              50.000000                    存续                 有限责任公司

                 3                          4                      5   \
0  company_currency  company_registration_time  company_regis_capital
1                未知                 2016-03-30               0.000000
2                未知                 2015-01-29               0.000000
3              万人民币                 2011-08-26              50.000000
4                未知                 2010-12-13               0.000000
5              万人民币                 2015-06-25             500.000000
6              万人民币                 2014-05-27             500.000000
7              万人民币                 2014-12-11             300.000000
8              万人民币                 2010-11-03              10.000000
9              万人民币                 2012-08-10              50.000000

                  6                 7                   8   \
0  company_area_code  company_industry  company_legal_name
1             411322             食品制造业                  王征
2             210727           农副食品加工业                 孙长存
3             420525             商务服务业                 皮官淑
4             220702               餐饮业                 张玉良
5             210181                农业                 刘俊亮
6             510108             商务服务业                  陈锦
7             350982               批发业                 陈家情
8             210244           专业技术服务业                 范久慧
9             120110               批发业                 黎耀谦

                                     9                    10  \
0                             chanle_id          gather_time
1  242d55b8-97fa-4ddf-afe7-7e6d1040349d  2017-12-20 12:31:40
2  a6d574a8-1a6f-460e-b672-95506e305a7a  2017-07-17 18:36:31
3  a735bb03-087b-4ffb-b1b1-2e0055b3787c  2017-10-08 20:20:21
4  580f5165-d913-4933-9cde-c7ae0a2a6345  2017-09-24 14:39:58
5  a0a9a2f1-c8ef-4b74-93e3-99116f84a534  2017-11-13 20:14:58
6  d8ef235b-7e24-49bb-b13c-1863853df4e3  2017-06-23 10:32:03
7  81b98356-a48a-4bea-b94c-2865eb757460  2017-06-21 06:12:35
8  4d2bd802-a978-4bf4-bf19-cba5bbe7504f  2017-07-01 03:16:43
9  aa1f39f1-6a2b-4bb8-b3af-a6092cba42a3  2017-11-05 07:43:53

                     11
0          company_name
1           方城县王征酱香饼小作坊
2           义县义州镇孙长存熟食店
3           远安县安逸物业有限公司
4    松原市宁江区玉良正宗四川麻辣烫小吃部
5          新民市俊亮种植专业合作社
6         成都花千束文化传播有限公司
7          福鼎市润智堂茶业有限公司
8  大连长兴岛经济区大丰工程造价咨询有限公司
9          天津茂宁机电销售有限公司
--------------   company_base_contact_info_new
                      0              1                  2  \
0  company_company_size  company_email  company_telephone
1                                   暂无                 暂无
2                                   暂无                 暂无
3                                   暂无                 暂无
4                                           0757-81680688
5                                   暂无                 暂无
6                                   暂无                 暂无
7                                   暂无                 暂无
8                                   暂无                 暂无
9                                   暂无                 暂无

                       3                                     4  \
0   company_web_site_url                             chanle_id
1                     暂无  7aeb68e1-9631-4794-b590-5424a93da913
2                     暂无  4d5e499b-00f0-4b00-bddd-46fe8ec2efd0
3                     暂无  b54fcd7f-8fbb-4e6c-82e5-610f9d748b15
4  http://www.aia.com.cn  e6c56853-1b72-4cd2-bcf3-2ebff26b89a1
5                     暂无  f34d11b2-3eee-48bf-a86f-20e496a4ba62
6                     暂无  b2db80a6-8cb8-40b8-b179-18eeb8419974
7                         746fc813-fdfd-40f2-be5a-e7e861ab9be2
8                     暂无  569a2b19-0962-47c1-89e5-174f6ec99a90
9                     暂无  4c7686a5-c504-4302-a411-077c1be42856

                     5                                6
0  company_gather_time                     company_name
1  2017-11-23 13:53:39                         陕西外销供货公司
2  2017-09-21 06:29:33                    辉县市城关灶君庙摩托修理部
3  2017-09-06 09:25:40                     合肥魔宝科技有限责任公司
4  2018-01-20 03:18:49  友邦保险有限公司广东分公司佛山支公司友邦金融中心四处营销服务部
5  2017-10-23 11:00:41             上海众利房屋租赁服务有限公司云音休闲茶吧
6  2017-11-13 17:40:32                  220302600099081
7  2017-07-01 00:10:10                      海丰县附城泰艺石业门市
8  2017-10-23 15:24:19                      国际风联潍坊风筝研究所
9  2017-11-21 13:49:58                   茅箭区火车站前程教育咨询中心
--------------   company_branch_new
                     0                                     1  \
0  father_company_name                             chanle_id
1         广东壹号食品股份有限公司  9cfd5446-8d69-479f-b2d4-52c6cf940883
2           山东临沂烟草有限公司  b3d7502a-1cab-4195-bbb3-2cacee23c78d
3            上海致立医疗器械厂  fb8356b8-0b16-4110-98be-06222d173394
4         深圳市德庆祥实业有限公司  d643d329-7d31-46dd-a784-b3e56d215bad
5          长沙云茶旅行社有限公司  d8a5a0e0-be75-4ea3-bf0f-215792961aad
6           上海劲达报关有限公司  c45c58d7-3d85-4a16-889a-2fe296cd87b7
7          上海金诺标准件有限公司  860d0a54-e127-4347-be38-aefe1d8452fc
8         烟台振华购物中心有限公司  280e8022-d322-4514-aec6-ed94d8deb55d
9        泰安市鲁科通讯器材有限公司  9ae9e009-254c-4a87-800e-db88dfbfd207

                     2                     3
0  company_gather_time          company_name
1  2017-12-06 10:03:20     广东壹号食品股份有限公司遂溪分公司
2  2018-04-26 08:20:46  山东临沂烟草有限公司沂南县苏村卷烟批发部
3  2017-10-20 19:35:04             上海华澳真空器材厂
4  2017-09-24 06:05:50     深圳市德庆祥实业有限公司小南山石场
5  2017-12-13 01:47:24      长沙云茶旅行社有限公司株洲分公司
6  2018-01-10 19:35:44      上海劲达报关有限公司外高桥分公司
7  2017-10-20 19:55:25        上海金诺标准件有限公司分公司
8  2018-04-13 07:33:03   烟台振华购物中心有限公司第十二家具商场
9  2017-12-29 06:44:22     泰安市鲁科通讯器材有限公司数码超市
--------------   company_business_change_new
                                     0            1  \
0                       change_project  change_time
1                                 章程备案   2016-10-28
2                            投资人(股权)变更   2016-07-22
3                         经营范围(业务范围)变更   2012-05-17
4                               增、补、换照   2016-12-17
5                                股东发起人   2015-11-19
6  投资人信息变更（包括投资人、出资额、出资方式、出资日期、投资人名称等）   2017-06-20
7                    经营范围变更（含业务范围变更）变更   2014-04-08
8                        住所(营业场所、地址)变更   1997-10-05
9                               经营范围变更   2016-05-11

                                      2                    3                 4
0                             chanle_id  company_gather_time      company_name
1  46f96902-b7c3-46d3-84ed-76c2a2498c79  2017-10-20 02:51:38  成都德圣智融信息技术服务有限公司
2  dec9cabe-d34d-4fda-a81d-ac31af99452b  2017-10-11 11:40:07      临沂世藏文化传媒有限公司
3  d58d46a3-62e5-4156-8dea-dd2428ed0b56  2017-08-07 22:47:35        奉化市达岙岭休闲农庄
4  8c17cc81-d992-45a0-a11b-86fe7ccf099a  2017-11-04 19:38:13     将乐县新潭建设工程有限公司
5  3636aaab-3615-4599-be35-29cf4602760a  2018-04-16 23:39:18        山东鑫东肥业有限公司
6  8a90a27b-8723-4a1e-a549-3ab27d0d0afa  2018-01-04 15:14:30   贵州省盘州市大山播土专业合作社
7  8a9b4328-25b8-44f4-bc09-3ff74f17c8ad  2017-10-20 18:26:30         商城县苏扬足疗中心
8  fb375766-27e8-46f1-be4b-6d1d6b6081e5  2017-08-08 01:53:01         金华县财务开发公司
9  a5f0e2f3-8aca-4f84-81bb-ce3a9b392965  2017-07-06 19:19:42        陕西鸿恩实业有限公司

--------------   company_custom_rating
                0              1                                     2  \
0  business_level  industry_type                             chanle_id
1               0                 6fd83758-c580-46c9-b645-50527d9979b2
2               B                 cef92ed7-97b5-4f45-9459-9027f31435d0
3               B                 97b38c64-1725-4619-a158-0c31d63e6821
4               B                 94e5c000-4df3-45d2-b354-545c11ba3aee
5               A                 f4bc6656-d329-4a7e-9737-ce3f72dafaf4
6               B                 db0d7f98-6979-4842-8cd1-62e471489f96
7               B                 10c6aecf-dc9f-4707-9452-3ae92d9472bf
8               B                 0addb0d5-e5b9-43cc-91d3-6e29137b338e
9               B                 1d4bfa3c-ff46-4f3c-a3db-32195b546f72

                     3               4
0  company_gather_time    company_name
1  2017-02-17 15:46:12    上海通用电气广电有限公司
2  2017-01-12 15:37:33    苍山信诚地球食品有限公司
3  2017-01-16 08:14:31  梅州南洋（思乡）食品有限公司
4  2017-01-14 02:48:28      温州昊昊贸易有限公司
5  2017-01-17 13:44:51   中山高美合成新材料有限公司
6  2017-01-11 19:20:02      无锡中亚包装有限公司
7  2017-02-18 20:13:39    启明信息技术股份有限公司
8  2017-02-19 12:11:50    恒昌涂料(浙江)有限公司
9  2017-01-13 01:43:46   厦门象屿维一进出口有限公司
--------------   company_execute_persons
              0                1                                     2  \
0  execute_type  execute_perform                             chanle_id
1             0            全部未履行  63e6ab8d-2fd9-4398-83d5-44ae8add0b3b
2             0            全部未履行  6befce1f-586f-4eb3-9737-64a56324a384
3             1            全部未履行  acc16ae7-6f98-421f-8336-91cc59d1b556
4             0            全部未履行  acc1cb36-8f8c-4159-8ee1-8bb945e618a0
5             0            全部未履行  0efd611f-9330-4af8-87df-6a4ac0458b41
6             1            全部未履行  4ab5f7d6-b01a-483a-8815-94cbc86193d3
7             1            全部未履行  10d61351-146d-400b-ad3a-d25d1604557f
8             0            全部未履行  db16ccf8-fd00-4c65-bc08-a38a45a844c1
9                                 50d94d68-46c4-464a-ab45-6e26f7625992

                     3             4
0  company_gather_time  company_name
1  2017-12-07 18:18:40           王新华
2  2018-01-17 02:13:42           杨福权
3  2018-01-19 22:20:41  徐州鼎恒新型材料有限公司
4  2017-09-22 08:53:36           段小建
5  2017-09-15 19:42:30            孙凤
6  2017-11-23 20:32:40  淄博鼎泰建筑安装有限公司
7  2017-01-04 18:55:38    江西宏华矿业有限公司
8  2016-09-20 15:25:50           李汉忠
9  2017-12-08 16:31:24  湖南长重机器股份有限公司
--------------   company_imp_exp_credit_info
       0   1       2       3        4      5  \
0  超期未报送  正常  一般信用企业  一般经济区域  进出口收发货人  非特殊区域
1    已报送  正常  一般认证企业  一般经济区域  进出口收发货人  非特殊区域
2  超期未报送  正常  一般信用企业  一般经济区域  进出口收发货人  非特殊区域
3  超期未报送  正常  一般信用企业  一般经济区域  进出口收发货人  非特殊区域
4  超期未报送  注销  一般信用企业  一般经济区域  进出口收发货人  非特殊区域
5    已报送  正常  一般信用企业  一般经济区域  进出口收发货人  非特殊区域
6  超期未报送  注销  一般信用企业  一般经济区域  进出口收发货人  非特殊区域
7    已报送  正常  一般信用企业  一般经济区域  进出口收发货人  非特殊区域
8  超期未报送  注销  一般信用企业  一般经济区域  进出口收发货人  非特殊区域
9  超期未报送  正常  一般信用企业  一般经济区域  进出口收发货人  非特殊区域

                                      6                    7                 8
0  b7afee83-0435-45ed-867e-aae6807fff4b  2018-01-12 12:57:31        青岛正兴集团有限公司
1  ed2574a3-8a67-475f-ab77-0da147f71f9c  2017-12-26 20:42:22  大安东方国际贸易（北京）有限公司
2  58d25de5-1120-4b1f-9b01-96a0eefd1f73  2018-01-20 12:22:22      湖北高曼重工股份有限公司
3  d04d116d-bfde-4558-a3b8-697e31d2c2e3  2017-12-23 06:57:38        枣庄嘉瑞服饰有限公司
4  afb26331-ef3b-4761-af39-49d108e6f341  2017-11-16 05:37:55        茂名鼎晟表业有限公司
5  0ef41846-a67b-41f7-9e1b-0dfa992d9182  2017-11-24 10:49:25          中原圣起有限公司
6  5679b4ee-5796-4c3b-b4c8-e25fb637e289  2017-10-30 18:01:13   安徽省科苑（集团）股份有限公司
7  f1214531-407d-4784-b8d0-9b6a9b5c9881  2017-12-19 23:04:56     北京国合源建材股份有限公司
8  2428c94d-831d-4287-bbd2-ae624cee9b30  2017-11-13 15:36:24      天津巨裕汽车用品有限公司
9  3aa30d90-61ab-4013-817e-a2f7b941af64  2017-12-18 21:56:49      湖南天赐氢氧能源有限公司
--------------   company_outbound_investment
                         0                                     1  \
0  investment_company_name                             chanle_id
1             沈阳安运灯具电器配送中心  43bd0e21-1a86-4a3e-89c5-43e23df6a59e
2           龙元市政养护（上海）有限公司  3d8b723a-46a9-4f05-ad54-42f678ce8e89
3               重庆红石科技有限公司  da4e0e4d-cb14-4246-b162-adb6b14a28a5
4       平山县敬业西城华府房地产开发有限公司  1a8b34be-00be-497b-bdac-a6a2674d0cf2
5        岑溪市诚谏供销合作社孔任综合门市部  ee3077ac-1ab2-48c5-bbaa-c82c1935990d
6    桃源居实业（深圳）集团（简称：桃源居集团）  45e4337a-a53b-4ad4-9ef3-79f3fa64118b
7          高州市谢鸡供销社香蕉专业合作社  73f31a20-b568-419d-9209-72c31094fc5a
8           青岛华商汇通金融服务有限公司  85114266-edd8-462c-ba15-ae9f8df7ab0e
9               太仓市直塘粮食管理所  7fa81db7-46b0-42f2-893f-a56cf21b36fa

                     2                                                  3
0  company_gather_time                                       company_name
1  2017-10-08 01:38:47                                       沈阳安运货物运输有限公司
2  2017-10-02 17:00:08  杭州市路桥集团股份有限公司公司的名称和住所是公司登记的主要事项，也是设立公司的组织条件。公司...
3  2017-10-26 10:06:57                                         重庆雷邦科技有限公司
4  2018-04-04 11:07:58                                           敬业集团有限公司
5  2017-10-31 08:26:37                                         岑溪市诚谏供销合作社
6  2017-08-03 00:45:43                                      深圳市桃源物业管理有限公司
7  2017-11-23 05:22:32                                           高州市谢鸡供销社
8  2018-01-29 11:11:50                               青岛华通国有资本运营（集团）有限责任公司
9  2017-11-20 12:47:34                                             太仓市粮食局
--------------   company_promoters_info_new
                       0                                     1  \
0  company_initiate_type                             chanle_id
1                      1  ec2ccba1-d8e3-4723-b0bc-0823c0bb01ae
2                      1  53688ec0-762a-4cb1-a215-15cb983e826a
3                      2  4980845f-7174-45df-8195-77f19aeccd97
4                      1  a233c938-f4d3-471a-bd9d-57076ca9486d
5                      1  0da2cd73-e5f8-49d4-b787-c9ba48a3b7c0
6                      1  5bc3ed1d-dd61-4bf9-b249-9f1a83de40f7
7                      1  923c089f-cf24-48e9-9852-b451719a9cf3
8                      1  7be5c993-9397-4563-8f99-f12e3c244778
9                      1  097ae17a-ac12-4e39-b169-39744dfe5fac

                     2                       3
0  company_gather_time            company_name
1  2017-08-08 07:34:03        泰州市万木钦园林绿化工程有限公司
2  2017-11-09 10:39:37            广州展华数字传媒有限公司
3  2017-11-28 00:55:30  珠海横琴粤财和佳医疗产业合伙企业（有限合伙）
4  2017-10-13 12:36:49              济南林丰奶业有限公司
5  2017-09-20 12:06:43           盐城市源丰包装材料有限公司
6  2017-10-13 05:31:02            广州俊染纺织服饰有限公司
7  2017-09-09 11:53:09          江苏欧锐智能建筑科技有限公司
8  2017-11-08 12:23:22            德阳大方文化传播有限公司
9  2018-04-11 18:54:22            青岛硕万电子科技有限公司
--------------   company_senior_manager_new
                                0               1  \
0           company_employee_name  company_posite
1                              牛刚              监事
2                             刘吉仇              未知
3                             黄元莉              监事
4                             吴进益             董事长
5                             黄治芳            家庭成员
6  Ananias Richard Tan Seng Keong              董事
7                             丁法明             经营者
8                              李茹              监事
9                             马宬旸              监事

                                      2                    3  \
0                             chanle_id  company_gather_time
1  46742751-7eb1-4c4e-b0e0-74a44737bc10  2017-06-20 23:03:44
2  233c6bbc-c50b-4f76-8e11-80596de8f6c2  2017-09-20 22:41:58
3  db712983-b643-46fc-9f45-f798478ef086  2017-11-24 03:03:58
4  d5fa1e16-11cf-4b53-a822-53d27cda50b4  2017-10-20 18:17:23
5  db01292b-682b-44ed-8443-049c9dc0ecf0  2018-01-12 21:55:52
6  b9e0900f-7a9c-45cf-8be2-684015496f16  2017-06-05 11:31:20
7  a7d7c5af-57f9-41fc-8987-9428cdff6a40  2017-11-13 07:59:15
8  0cb7dbe3-e270-4b8f-a5b7-467ef96092d8  2018-04-19 14:09:33
9  a74fe584-1573-413a-81ee-c293f715496a  2017-12-19 17:52:30

                    4
0        company_name
1        通辽市桦琪新能源有限公司
2     大冶市昆泰种养殖农民专业合作社
3        江阴陆叁叁贵金属有限公司
4          上海健泰铭版有限公司
5  黄治芳620102600306121
6       上海壹品家餐饮管理有限公司
7         武进区湖塘老家味道菜馆
8      济南金冠毛纺集团有限责任公司
9      北京天柱泰奉石鑫矿业有限公司

In [5]:
filename_list = pd.DataFrame(os.listdir(data_folder), columns = ['文件名称'])
filename_list['file_name'] = filename_list['文件名称'].apply(lambda x: os.path.splitext(x)[0])
filename_list

                              文件名称                    file_name
0        company_custom_rating.csv        company_custom_rating
1      company_execute_persons.csv      company_execute_persons
2  company_outbound_investment.csv  company_outbound_investment
3   company_senior_manager_new.csv   company_senior_manager_new

In [68]:
save_filename = os.path.join(result_folder, 'hadoop_put_data.txt')
file = open(save_filename,"w")

database_name = 'data_analysis'
cursor.execute("create database if not exists {0} ".format(database_name))
cursor.execute("use "+ database_name)
for index in filename_list.index:

    # 读入csv文件    
    file_name = os.path.join(data_folder, filename_list['文件名称'][index])
    table_name = filename_list['file_name'][index]    
    print('--  处理第 %s 张表：%s'%(index +1, table_name))
    data = pd.read_csv(file_name,nrows =5) 
    
    field = [x + ' string' for x in data.columns.tolist()]
    
    # 在hive上建立标准表 
    cursor.execute('drop table if exists %s;' %table_name)     
    sql_code  =  "create external table if not exists {0}{1}".\
            format(table_name,tuple(field)).replace("'","") \
            + '\n' + "ROW FORMAT DELIMITED FIELDS TERMINATED BY ','" \
            + '\n' + "LOCATION '/tmp/jxg_data/{0}'".format(table_name)    
    print(sql_code)
    try :
        cursor.execute(sql_code)
    except Exception as e:
        print(e)
        print(table_name)
        
    file.write("hdfs dfs -put -f '/mnt/disk2/jxg_data/{1}.csv' '/tmp/jxg_data/{1}'".\
               format(database_name,table_name) + "\n")    

file.close()

--  处理第 1 张表：company_custom_rating
create external table if not exists company_custom_rating(business_level string, industry_type string, chanle_id string, company_gather_time string, company_name string)
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
LOCATION '/tmp/jxg_data/company_custom_rating'
--  处理第 2 张表：company_execute_persons
create external table if not exists company_execute_persons(execute_type string, chanle_id string, company_gather_time string, company_name string)
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
LOCATION '/tmp/jxg_data/company_execute_persons'
--  处理第 3 张表：company_outbound_investment
create external table if not exists company_outbound_investment(investment_company_name string, chanle_id string, company_gather_time string, company_name string)
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
LOCATION '/tmp/jxg_data/company_outbound_investment'
--  处理第 4 张表：company_senior_manager_new
create external table if not exists company_senior_manager_new(company_employee_name string, company_posite string, chanle_id string, company_gather_time string, company_name string)
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
LOCATION '/tmp/jxg_data/company_senior_manager_new'

# 匹配company_execute_persons中的company_name

In [24]:
from impala.dbapi import connect
from impala.util import as_pandas

conn = connect(host="192.168.20.102", port=10000,  # database="system", 
               auth_mechanism="PLAIN",
               user = 'admin', password = 'admin')
cursor = conn.cursor()

database_name = 'data_analysis'
cursor.execute("use "+ database_name)

In [1]:
import pandas as pd
import numpy as np
import os

names = locals()
data_folder = r'F:\jxg_data\jxg_data'
result_folder = r'F:\jxg_data'

filename_list = pd.DataFrame(os.listdir(data_folder), columns = ['文件名称'])
filename_list['file_name'] = filename_list['文件名称'].apply(lambda x: os.path.splitext(x)[0])
filename_list

index = 1
file_name = os.path.join(data_folder, filename_list['文件名称'][index])
table_name = filename_list['file_name'][index]    
print('--  处理第 %s 张表：%s'%(index +1, table_name))

--  处理第 2 张表：company_execute_persons

In [12]:
tmp_data.head()

,execute_type,execute_perform,chanle_id,company_gather_time
0,0,全部未履行,63e6ab8d-2fd9-4398-83d5-44ae8add0b3b,2017-12-07 18:18:40
1,0,全部未履行,6befce1f-586f-4eb3-9737-64a56324a384,2018-01-17 02:13:42
2,1,全部未履行,acc16ae7-6f98-421f-8336-91cc59d1b556,2018-01-19 22:20:41

In [40]:
sql_1
#table_name

"SELECT company_name, chanle_id FROM company_base_business_merge_new_bak where chanle_id in ('63e6ab8d-2fd9-4398-83d5-44ae8add0b3b', '6befce1f-586f-4eb3-9737-64a56324a384', 'acc16ae7-6f98-421f-8336-91cc59d1b556', 'acc1cb36-8f8c-4159-8ee1-8bb945e618a0', '0efd611f-9330-4af8-87df-6a4ac0458b41')"

In [39]:
sql_1 = 'SELECT company_name, chanle_id FROM %s where chanle_id in (%s)' %(table_name, chanle_id_list[:5])
sql_1 = sql_1.replace('[', '').replace(']', '')
cursor.execute(sql_1)
#cursor.description
# cursor.fetchall()
# sql_c
for row in cursor:
    print(row)

('徐州鼎恒新型材料有限公司', 'acc16ae7-6f98-421f-8336-91cc59d1b556')
('孙凤', '0efd611f-9330-4af8-87df-6a4ac0458b41')
('王新华', '63e6ab8d-2fd9-4398-83d5-44ae8add0b3b')

In [36]:
chanle_id_list[:5]

['63e6ab8d-2fd9-4398-83d5-44ae8add0b3b',
 '6befce1f-586f-4eb3-9737-64a56324a384',
 'acc16ae7-6f98-421f-8336-91cc59d1b556',
 'acc1cb36-8f8c-4159-8ee1-8bb945e618a0',
 '0efd611f-9330-4af8-87df-6a4ac0458b41']

In [41]:
fields = ['company_name', 'chanle_id']
table_name = 'company_base_business_merge_new_bak'

chunksize = 1000
chunks = pd.read_csv(file_name,iterator = True)
loop = 3

save_file = os.path.join(data_folder, 'company_execute_persons_111.csv')
for i in range(loop):
    tmp_data = chunks.get_chunk(chunksize)
    tmp_data = tmp_data.drop('company_name', axis = 1)

    chanle_id_list = tmp_data['chanle_id'].tolist()
    sql_c = 'SELECT company_name, chanle_id FROM %s where chanle_id in (%s)' %(table_name, chanle_id_list)
    sql_c = sql_c.replace('[', '').replace(']', '')

    cursor.execute(sql_c)
    base_business = as_pandas(cursor)
    base_business.columns = fields  
    
    company_execute_persons = pd.merge(tmp_data, base_business,
                                      how = 'left', on = 'chanle_id')
    print('--  第 %s 次获取数据，开始...'%(str(i + 1)))
    print(company_execute_persons.head())
    print()
    
    if i == 0:      
        if os.path.exists(save_filename):
            os.remove(save_filename)
    company_execute_persons.to_csv (save_file, encoding='gbk', header=False, mode='a')

--  第 1 次获取数据，开始...
   execute_type execute_perform                             chanle_id  \
0           0.0           全部未履行  63e6ab8d-2fd9-4398-83d5-44ae8add0b3b
1           0.0           全部未履行  6befce1f-586f-4eb3-9737-64a56324a384
2           1.0           全部未履行  acc16ae7-6f98-421f-8336-91cc59d1b556
3           0.0           全部未履行  acc1cb36-8f8c-4159-8ee1-8bb945e618a0
4           0.0           全部未履行  0efd611f-9330-4af8-87df-6a4ac0458b41

   company_gather_time  company_name
0  2017-12-07 18:18:40           王新华
1  2018-01-17 02:13:42           NaN
2  2018-01-19 22:20:41  徐州鼎恒新型材料有限公司
3  2017-09-22 08:53:36           NaN
4  2017-09-15 19:42:30            孙凤

NameError: name 'df' is not defined

In [3]:
chunks = pd.read_csv(file_name,iterator = True)
chunk = chunks.get_chunk(5)

In [7]:
help(chunks)

Help on TextFileReader in module pandas.io.parsers object:

class TextFileReader(pandas.io.common.BaseIterator)
 |  Passed dialect overrides any of the related parser options
 |
 |  Method resolution order:
 |      TextFileReader
 |      pandas.io.common.BaseIterator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, f, engine=None, **kwds)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __next__(self)
 |
 |  close(self)
 |
 |  get_chunk(self, size=None)
 |
 |  read(self, nrows=None)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from pandas.io.common.BaseIterator:
 |
 |  __iter__(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from pandas.io.common.BaseIterator:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [5]:
chunks.get_chunk(5)

,execute_type,execute_perform,chanle_id,company_gather_time,company_name
5,1.0,全部未履行,4ab5f7d6-b01a-483a-8815-94cbc86193d3,2017-11-23 20:32:40,淄博鼎泰建筑安装有限公司
6,1.0,全部未履行,10d61351-146d-400b-ad3a-d25d1604557f,2017-01-04 18:55:38,江西宏华矿业有限公司
7,0.0,全部未履行,db16ccf8-fd00-4c65-bc08-a38a45a844c1,2016-09-20 15:25:50,李汉忠
8,NaN,NaN,50d94d68-46c4-464a-ab45-6e26f7625992,2017-12-08 16:31:24,湖南长重机器股份有限公司
9,1.0,全部未履行,b78f4365-6182-48f8-8673-cec4dbd586ad,2017-01-02 00:25:54,洛阳银冶金属炉料有限公司

In [6]:
chunks.get_chunk(5)

,execute_type,execute_perform,chanle_id,company_gather_time,company_name
10,0,全部未履行,408dfeb7-3410-438e-bafe-8db87b931fd9,2016-09-20 20:39:01,张杭生
11,0,全部未履行,693f3eb4-a6a8-45d3-b61a-7e339cf76b69,2016-09-20 18:25:28,冯佩
12,0,全部未履行,a564dbdd-e7c3-4a8c-9350-c123e799d369,2016-09-20 20:56:19,鄢剑文
13,1,全部未履行,ceb942ec-fc4b-4d5e-ac4c-8d274def4537,2017-09-21 11:55:46,山东宏阳矿业有限公司
14,0,全部未履行,80f4019d-a4f8-4803-9ae0-2629b190c1ca,2016-09-20 19:32:28,汤自花