In [2]:
C = ''
for i in range(1,59):
    C = C + ' + ' + 'C%s'%i
C

' + C1 + C2 + C3 + C4 + C5 + C6 + C7 + C8 + C9 + C10 + C11 + C12 + C13 + C14 + C15 + C16 + C17 + C18 + C19 + C20 + C21 + C22 + C23 + C24 + C25 + C26 + C27 + C28 + C29 + C30 + C31 + C32 + C33 + C34 + C35 + C36 + C37 + C38 + C39 + C40 + C41 + C42 + C43 + C44 + C45 + C46 + C47 + C48 + C49 + C50 + C51 + C52 + C53 + C54 + C55 + C56 + C57 + C58'

# Raw data

In [33]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [34]:
data = pd.read_excel('D:/XH/Python_Project/notebook/new_proj/201903/tengxun.xlsx')
print(data.shape)
data.head()

(1656, 61)

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C52,C53,C54,C55,C56,C57,C58,D1,D2,D3
0,5,4,3,2,2,4,3,4,4,3,...,3,5,5,4,4,3,4,4,5,5
1,4,3,3,3,4,3,4,3,3,4,...,4,4,4,4,4,3,4,4,4,4
2,4,4,4,2,4,5,5,4,5,4,...,4,5,5,4,5,5,5,4,4,4
3,4,4,4,3,4,3,3,4,4,4,...,3,3,3,4,4,4,4,3,3,4
4,4,4,4,3,4,3,3,4,3,3,...,3,4,4,4,4,3,4,4,5,4

# Combined data

In [42]:
condition = data = pd.read_excel('D:/XH/Python_Project/notebook/new_proj/201903/tengxun.xlsx', 
                                'Sheet2')
print(condition.shape)
print(condition.columns)
condition.iloc[:15, :]

(61, 2)
Index(['简易变量名', '新变量名'], dtype='object')

   简易变量名 新变量名
0     C1   E1
1     C2   E2
2     C3  NaN
3     C4  NaN
4    C10  NaN
5    C11  NaN
6    C12  NaN
7     C5   E3
8     C6   E4
9     C7   E5
10    C8  NaN
11    C9   E6
12   C13   E7
13   C14   E8
14   C15  NaN

In [43]:
condition['新变量名'] = condition['新变量名'].fillna(method='ffill')
print(condition.shape)
condition.iloc[:15, :]

(61, 2)

   简易变量名 新变量名
0     C1   E1
1     C2   E2
2     C3   E2
3     C4   E2
4    C10   E2
5    C11   E2
6    C12   E2
7     C5   E3
8     C6   E4
9     C7   E5
10    C8   E5
11    C9   E6
12   C13   E7
13   C14   E8
14   C15   E8

In [ ]:
data_combined = pd.DataFrame()
new_col = condition['新变量名'].tolist()
for col in new_col:
    old_col = condition[condition['新变量名'] = col]['简易变量名']
    print('---- ', col)
    print(old_col)
    tmp_data = data[]
    data_combined[col] =

# Cor

# RandomForest

In [28]:
X_train = data.iloc[:, :58]
print(X_train.shape)
features = X_train.columns

forest_1 = RandomForestClassifier(n_estimators = 1000)
y_train = data['D1'].tolist()
print(len(y_train))
forest_1.fit(X_train, y_train)
importances_1 = forest_1.feature_importances_
indices_1 = np.argsort(importances_1)[::-1]

forest_2 = RandomForestClassifier(n_estimators = 1000)
y_train = data['D2'].tolist()
print(len(y_train))
forest_2.fit(X_train, y_train)
importances_2 = forest_2.feature_importances_
indices_2 = np.argsort(importances_2)[::-1]

forest_3 = RandomForestClassifier(n_estimators = 1000)
y_train = data['D3'].tolist()
print(len(y_train))
forest_3.fit(X_train, y_train)
importances_3 = forest_3.feature_importances_
indices_3 = np.argsort(importances_3)[::-1]

(1656, 58)
1656
1656
1656

In [29]:
result = []
for f in range(X_train.shape[1]):
    result.append([features[f], importances_1[indices_1[f]], 
                importances_2[indices_2[f]], importances_3[indices_3[f]]])

In [30]:
result = pd.DataFrame(result, columns = ['feature', 'D1', 'D2', 'D3'])
result.head()

  feature        D1        D2        D3
0      C1  0.035175  0.031235  0.031457
1      C2  0.032151  0.027758  0.028642
2      C3  0.028173  0.026238  0.026580
3      C4  0.027997  0.025574  0.026226
4      C5  0.024742  0.024485  0.024817

In [32]:
result.to_excel('feature_importance.xlsx', index = False)