In [67]:
C = ''
for i in range(1,33):
    C = C + ' + ' + 'E%s'%i
C

' + E1 + E2 + E3 + E4 + E5 + E6 + E7 + E8 + E9 + E10 + E11 + E12 + E13 + E14 + E15 + E16 + E17 + E18 + E19 + E20 + E21 + E22 + E23 + E24 + E25 + E26 + E27 + E28 + E29 + E30 + E31 + E32'

In [2]:
data = pd.read_excel('D:/XH/Python_Project/notebook/new_proj/201901/data_sel_1.xlsx')
print(data.shape)
data.head()

(1310, 25)

,B2r7c1,B2r37c1,B2r31c1,B2r42c1,B1r1c1,B1r5c1,B1r33c1,B1r34c1,B1r35c1,B1r36c1,...,B1r38c1,B2r40c1,B2r8c1,B2r20c1,B1r29c1,B1r43c1,B1r44c1,B1r45c1,B2r46c1,B2r47c1
0,1,1,0,1,1,0,0,0,0,0,...,0,1,1,0,0,1,0,1,0,1
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,1,1
3,1,1,1,1,1,0,1,1,0,1,...,0,0,0,0,1,1,1,0,1,1
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [4]:
filter_list = ['B2r7c1', 'B2r37c1', 'B2r31c1', 'B2r42c1']
col_list = data.columns.tolist()
C = ''
for i in col_list:
    if i not in filter_list:
        C = C + ' + ' + i
    else :
        print(i)
C

B2r7c1
B2r37c1
B2r31c1
B2r42c1

' + B1r1c1 + B1r5c1 + B1r33c1 + B1r34c1 + B1r35c1 + B1r36c1 + B2r21c1 + B2r13c1 + B1r16c1 + B1r23c1 + B1r25c1 + B1r38c1 + B2r40c1 + B2r8c1 + B2r20c1 + B1r29c1 + B1r43c1 + B1r44c1 + B1r45c1 + B2r46c1 + B2r47c1'

In [6]:
model = pd.read_excel('D:/XH/Python_Project/notebook/new_proj/201901/model_20190310.xlsx')
model['model'] = model['model'].fillna(method='ffill')
model['predict'] = model['predict'].fillna(method='ffill')
print(model.shape)
model.head()

(63, 3)

     model  predict      var
0  model_1  B2r37c1  B1r45c1
1  model_1  B2r37c1  B1r43c1
2  model_1  B2r37c1   B1r1c1
3  model_1  B2r37c1  B1r23c1
4  model_1  B2r37c1  B1r16c1

In [ ]:
for model in model['model'].unique().tolist():
    print(model, '  ----- ')

# Raw data

In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [56]:
data = pd.read_excel('D:/XH/Python_Project/notebook/new_proj/201903/tengxun.xlsx')
print(data.shape)
data.head()

(1656, 61)

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C52,C53,C54,C55,C56,C57,C58,D1,D2,D3
0,5,4,3,2,2,4,3,4,4,3,...,3,5,5,4,4,3,4,4,5,5
1,4,3,3,3,4,3,4,3,3,4,...,4,4,4,4,4,3,4,4,4,4
2,4,4,4,2,4,5,5,4,5,4,...,4,5,5,4,5,5,5,4,4,4
3,4,4,4,3,4,3,3,4,4,4,...,3,3,3,4,4,4,4,3,3,4
4,4,4,4,3,4,3,3,4,3,3,...,3,4,4,4,4,3,4,4,5,4

# Combined data

In [57]:
condition = pd.read_excel('D:/XH/Python_Project/notebook/new_proj/201903/tengxun.xlsx', 
                                'Sheet2')
print(condition.shape)
print(condition.columns)
condition.iloc[:15, :]

(61, 2)
Index(['简易变量名', '新变量名'], dtype='object')

   简易变量名 新变量名
0     C1   E1
1     C2   E2
2     C3  NaN
3     C4  NaN
4    C10  NaN
5    C11  NaN
6    C12  NaN
7     C5   E3
8     C6   E4
9     C7   E5
10    C8  NaN
11    C9   E6
12   C13   E7
13   C14   E8
14   C15  NaN

In [58]:
condition['新变量名'] = condition['新变量名'].fillna(method='ffill')
print(condition.shape)
condition.iloc[:15, :]

(61, 2)

   简易变量名 新变量名
0     C1   E1
1     C2   E2
2     C3   E2
3     C4   E2
4    C10   E2
5    C11   E2
6    C12   E2
7     C5   E3
8     C6   E4
9     C7   E5
10    C8   E5
11    C9   E6
12   C13   E7
13   C14   E8
14   C15   E8

In [59]:
data_combined = pd.DataFrame()
new_col = condition['新变量名'].tolist()
for col in new_col:
    old_col = condition[condition['新变量名'] == col]['简易变量名'].tolist()
    print('---- ', col)
    print(old_col)
    if len(old_col) > 1:
        data_combined[col] = data[old_col].mean(axis = 1)
    else :
        data_combined[col] = data[old_col[0]]

----  E1
['C1']
----  E2
['C2', 'C3', 'C4', 'C10', 'C11', 'C12']
----  E2
['C2', 'C3', 'C4', 'C10', 'C11', 'C12']
----  E2
['C2', 'C3', 'C4', 'C10', 'C11', 'C12']
----  E2
['C2', 'C3', 'C4', 'C10', 'C11', 'C12']
----  E2
['C2', 'C3', 'C4', 'C10', 'C11', 'C12']
----  E2
['C2', 'C3', 'C4', 'C10', 'C11', 'C12']
----  E3
['C5']
----  E4
['C6']
----  E5
['C7', 'C8']
----  E5
['C7', 'C8']
----  E6
['C9']
----  E7
['C13']
----  E8
['C14', 'C15']
----  E8
['C14', 'C15']
----  E9
['C16', 'C17', 'C18', 'C19', 'C20', 'C21', 'C46']
----  E9
['C16', 'C17', 'C18', 'C19', 'C20', 'C21', 'C46']
----  E9
['C16', 'C17', 'C18', 'C19', 'C20', 'C21', 'C46']
----  E9
['C16', 'C17', 'C18', 'C19', 'C20', 'C21', 'C46']
----  E9
['C16', 'C17', 'C18', 'C19', 'C20', 'C21', 'C46']
----  E9
['C16', 'C17', 'C18', 'C19', 'C20', 'C21', 'C46']
----  E9
['C16', 'C17', 'C18', 'C19', 'C20', 'C21', 'C46']
----  E10
['C22']
----  E11
['C23', 'C24', 'C25']
----  E11
['C23', 'C24', 'C25']
----  E11
['C23', 'C24', 'C25']
----  E12
['C26', 'C42']
----  E12
['C26', 'C42']
----  E13
['C27']
----  E14
['C28', 'C47']
----  E14
['C28', 'C47']
----  E15
['C29']
----  E16
['C30']
----  E17
['C31']
----  E18
['C32', 'C34']
----  E18
['C32', 'C34']
----  E19
['C33']
----  E20
['C35']
----  E21
['C36', 'C37']
----  E21
['C36', 'C37']
----  E22
['C38', 'C48', 'C43', 'C44']
----  E22
['C38', 'C48', 'C43', 'C44']
----  E22
['C38', 'C48', 'C43', 'C44']
----  E22
['C38', 'C48', 'C43', 'C44']
----  E23
['C39', 'C40', 'C41']
----  E23
['C39', 'C40', 'C41']
----  E23
['C39', 'C40', 'C41']
----  E24
['C45']
----  E25
['C49']
----  E26
['C50']
----  E27
['C51', 'C52', 'C53']
----  E27
['C51', 'C52', 'C53']
----  E27
['C51', 'C52', 'C53']
----  E28
['C54']
----  E29
['C55']
----  E30
['C56']
----  E31
['C57']
----  E32
['C58']
----  D1
['D1']
----  D2
['D2']
----  D3
['D3']

In [60]:
print(data_combined.shape)
data_combined.head()

(1656, 35)

,E1,E2,E3,E4,E5,E6,E7,E8,E9,E10,...,E26,E27,E28,E29,E30,E31,E32,D1,D2,D3
0,5,3.333333,2,4,3.5,4,5,4.5,4.142857,4,...,5,3.666667,5,4,4,3,4,4,5,5
1,4,3.166667,4,3,3.5,3,4,3.5,3.142857,4,...,4,4.000000,4,4,4,3,4,4,4,4
2,4,3.833333,4,5,4.5,5,5,4.0,3.714286,2,...,5,4.666667,5,4,5,5,5,4,4,4
3,4,3.833333,4,3,3.5,4,4,4.0,3.571429,3,...,3,3.333333,3,4,4,4,4,3,3,4
4,4,3.666667,4,3,3.5,3,3,4.0,3.142857,4,...,4,3.666667,4,4,4,3,4,4,5,4

In [66]:
data_combined.to_excel('data_combined.xlsx', index = False)

# Cor

In [63]:
cor_matrix = data_combined.corr()
cor_matrix

,E1,E2,E3,E4,E5,E6,E7,E8,E9,E10,...,E26,E27,E28,E29,E30,E31,E32,D1,D2,D3
E1,1.000000,0.437825,0.277778,0.366290,0.342317,0.373172,0.261364,0.314454,0.311813,0.220081,...,0.223213,0.307287,0.289344,0.228032,0.222716,0.202010,0.227693,0.261118,0.293293,0.259646
E2,0.437825,1.000000,0.491414,0.448734,0.529561,0.413754,0.373771,0.406762,0.517142,0.405831,...,0.350119,0.462251,0.384568,0.339777,0.363243,0.334867,0.344086,0.339418,0.310596,0.306348
E3,0.277778,0.491414,1.000000,0.305677,0.363512,0.301155,0.267043,0.274616,0.349990,0.282489,...,0.251817,0.301504,0.246371,0.249727,0.285795,0.213688,0.215103,0.225728,0.215429,0.192450
E4,0.366290,0.448734,0.305677,1.000000,0.414620,0.334604,0.279337,0.282066,0.335242,0.220079,...,0.228373,0.308583,0.272835,0.240135,0.197979,0.247759,0.236259,0.275610,0.292922,0.230302
E5,0.342317,0.529561,0.363512,0.414620,1.000000,0.390281,0.294520,0.344518,0.422052,0.297461,...,0.301441,0.361226,0.313549,0.296984,0.240520,0.270234,0.301613,0.285108,0.286141,0.288639
E6,0.373172,0.413754,0.301155,0.334604,0.390281,1.000000,0.277854,0.322061,0.259991,0.195779,...,0.196716,0.269714,0.237056,0.233661,0.193736,0.204833,0.252252,0.246389,0.268328,0.280170
E7,0.261364,0.373771,0.267043,0.279337,0.294520,0.277854,1.000000,0.440889,0.450045,0.333425,...,0.274695,0.367128,0.328864,0.317978,0.287646,0.323233,0.293851,0.326233,0.311498,0.317882
E8,0.314454,0.406762,0.274616,0.282066,0.344518,0.322061,0.440889,1.000000,0.428917,0.317859,...,0.296072,0.423134,0.352165,0.363845,0.310695,0.328286,0.333699,0.408250,0.410623,0.409035
E9,0.311813,0.517142,0.349990,0.335242,0.422052,0.259991,0.450045,0.428917,1.000000,0.566645,...,0.450458,0.487751,0.400667,0.422976,0.417669,0.487887,0.409086,0.351100,0.334453,0.316082
E10,0.220081,0.405831,0.282489,0.220079,0.297461,0.195779,0.333425,0.317859,0.566645,1.000000,...,0.303310,0.356893,0.300023,0.286763,0.296739,0.363357,0.302625,0.276306,0.214717,0.229255
E11,0.245953,0.458112,0.318995,0.280289,0.361342,0.211723,0.388686,0.310303,0.747474,0.524868,...,0.373725,0.439319,0.346660,0.321802,0.363050,0.398516,0.326605,0.276395,0.235939,0.213564
E12,0.335288,0.366553,0.221860,0.296732,0.325281,0.310973,0.384120,0.576563,0.352329,0.248932,...,0.276347,0.363389,0.321178,0.332511,0.256237,0.302758,0.273504,0.364347,0.404276,0.406472
E13,0.322219,0.344185,0.191902,0.265962,0.293636,0.311752,0.371327,0.463169,0.313161,0.226286,...,0.249139,0.320027,0.282582,0.328677,0.211381,0.252588,0.272998,0.339284,0.386759,0.355165
E14,0.276565,0.450141,0.276137,0.290483,0.345127,0.308198,0.430528,0.444303,0.538976,0.379219,...,0.331777,0.422762,0.333579,0.337275,0.298793,0.332756,0.272525,0.306959,0.317605,0.313713
E15,0.290876,0.335935,0.243618,0.268106,0.271087,0.276184,0.357987,0.458092,0.384143,0.261587,...,0.261043,0.339664,0.315541,0.307404,0.255731,0.258874,0.262587,0.316936,0.296708,0.339480
E16,0.296173,0.351483,0.219915,0.254526,0.288797,0.310684,0.369001,0.481233,0.364535,0.282771,...,0.277213,0.367799,0.278854,0.351662,0.245700,0.285373,0.274025,0.362515,0.341978,0.341432
E17,0.288805,0.341112,0.222897,0.247634,0.298337,0.276534,0.336995,0.467605,0.329636,0.267277,...,0.272980,0.305614,0.264721,0.266633,0.232591,0.233114,0.222448,0.314715,0.303948,0.302703
E18,0.298336,0.444416,0.281895,0.311012,0.347938,0.292598,0.425421,0.504414,0.583406,0.451627,...,0.345648,0.417852,0.378818,0.382525,0.332140,0.404668,0.387459,0.333818,0.360348,0.357536
E19,0.274201,0.401384,0.295713,0.249131,0.312747,0.265115,0.368040,0.410826,0.477638,0.344272,...,0.301905,0.378812,0.297224,0.325019,0.249636,0.301621,0.303592,0.271202,0.291231,0.311259
E20,0.269054,0.326083,0.229730,0.236251,0.292674,0.244941,0.315396,0.408659,0.339544,0.266194,...,0.265905,0.350441,0.265826,0.285350,0.224180,0.234924,0.205540,0.327084,0.323352,0.318126
E21,0.334486,0.421371,0.262690,0.303466,0.357564,0.344877,0.419226,0.560494,0.444286,0.286724,...,0.290231,0.413247,0.333270,0.375453,0.326383,0.303133,0.334127,0.382219,0.385576,0.374109
E22,0.363182,0.520212,0.347042,0.392500,0.424941,0.379069,0.499511,0.580196,0.600728,0.431305,...,0.384983,0.500740,0.418103,0.419430,0.369297,0.400121,0.384491,0.426831,0.428164,0.407507
E23,0.304481,0.462833,0.283088,0.313498,0.381417,0.295982,0.466003,0.536489,0.520776,0.385812,...,0.333819,0.473363,0.345688,0.348719,0.325426,0.379150,0.351183,0.372734,0.362863,0.377527
E24,0.275102,0.367448,0.245883,0.254723,0.289381,0.279971,0.372118,0.476912,0.355898,0.248248,...,0.280123,0.388057,0.297983,0.275073,0.228920,0.227798,0.252963,0.320933,0.312252,0.339896
E25,0.247471,0.381105,0.292021,0.244508,0.281260,0.219370,0.260936,0.351440,0.388522,0.325928,...,0.419847,0.559269,0.418585,0.413943,0.414154,0.404222,0.335584,0.392078,0.401132,0.398513
E26,0.223213,0.350119,0.251817,0.228373,0.301441,0.196716,0.274695,0.296072,0.450458,0.303310,...,1.000000,0.553255,0.344015,0.403074,0.435951,0.378557,0.390354,0.342065,0.356017,0.336653
E27,0.307287,0.462251,0.301504,0.308583,0.361226,0.269714,0.367128,0.423134,0.487751,0.356893,...,0.553255,1.000000,0.506443,0.500203,0.521480,0.488649,0.483734,0.488149,0.457207,0.474271
E28,0.289344,0.384568,0.246371,0.272835,0.313549,0.237056,0.328864,0.352165,0.400667,0.300023,...,0.344015,0.506443,1.000000,0.429126,0.396374,0.435469,0.428998,0.408418,0.375172,0.416435
E29,0.228032,0.339777,0.249727,0.240135,0.296984,0.233661,0.317978,0.363845,0.422976,0.286763,...,0.403074,0.500203,0.429126,1.000000,0.434534,0.433021,0.453004,0.452512,0.393141,0.405238
E30,0.222716,0.363243,0.285795,0.197979,0.240520,0.193736,0.287646,0.310695,0.417669,0.296739,...,0.435951,0.521480,0.396374,0.434534,1.000000,0.377256,0.418533,0.412148,0.333938,0.313255
E31,0.202010,0.334867,0.213688,0.247759,0.270234,0.204833,0.323233,0.328286,0.487887,0.363357,...,0.378557,0.488649,0.435469,0.433021,0.377256,1.000000,0.478864,0.396089,0.369285,0.421115
E32,0.227693,0.344086,0.215103,0.236259,0.301613,0.252252,0.293851,0.333699,0.409086,0.302625,...,0.390354,0.483734,0.428998,0.453004,0.418533,0.478864,1.000000,0.408125,0.362688,0.385604
D1,0.261118,0.339418,0.225728,0.275610,0.285108,0.246389,0.326233,0.408250,0.351100,0.276306,...,0.342065,0.488149,0.408418,0.452512,0.412148,0.396089,0.408125,1.000000,0.448824,0.428416
D2,0.293293,0.310596,0.215429,0.292922,0.286141,0.268328,0.311498,0.410623,0.334453,0.214717,...,0.356017,0.457207,0.375172,0.393141,0.333938,0.369285,0.362688,0.448824,1.000000,0.441748
D3,0.259646,0.306348,0.192450,0.230302,0.288639,0.280170,0.317882,0.409035,0.316082,0.229255,...,0.336653,0.474271,0.416435,0.405238,0.313255,0.421115,0.385604,0.428416,0.441748,1.000000

In [65]:
cor_matrix.to_excel('cor_20190307.xlsx')

# RandomForest

In [28]:
X_train = data.iloc[:, :58]
print(X_train.shape)
features = X_train.columns

forest_1 = RandomForestClassifier(n_estimators = 1000)
y_train = data['D1'].tolist()
print(len(y_train))
forest_1.fit(X_train, y_train)
importances_1 = forest_1.feature_importances_
indices_1 = np.argsort(importances_1)[::-1]

forest_2 = RandomForestClassifier(n_estimators = 1000)
y_train = data['D2'].tolist()
print(len(y_train))
forest_2.fit(X_train, y_train)
importances_2 = forest_2.feature_importances_
indices_2 = np.argsort(importances_2)[::-1]

forest_3 = RandomForestClassifier(n_estimators = 1000)
y_train = data['D3'].tolist()
print(len(y_train))
forest_3.fit(X_train, y_train)
importances_3 = forest_3.feature_importances_
indices_3 = np.argsort(importances_3)[::-1]

(1656, 58)
1656
1656
1656

In [29]:
result = []
for f in range(X_train.shape[1]):
    result.append([features[f], importances_1[indices_1[f]], 
                importances_2[indices_2[f]], importances_3[indices_3[f]]])

In [30]:
result = pd.DataFrame(result, columns = ['feature', 'D1', 'D2', 'D3'])
result.head()

  feature        D1        D2        D3
0      C1  0.035175  0.031235  0.031457
1      C2  0.032151  0.027758  0.028642
2      C3  0.028173  0.026238  0.026580
3      C4  0.027997  0.025574  0.026226
4      C5  0.024742  0.024485  0.024817

In [32]:
result.to_excel('feature_importance.xlsx', index = False)

# Condition

In [9]:
condition = pd.read_excel('./201903/tengxun_path_analysis.xlsx', 'M2')
print(condition.shape)
print(condition.columns)
condition.iloc[:15, :]

(58, 2)
Index(['first', 'second'], dtype='object')

   first second
0     D1     C6
1    NaN    C14
2    NaN    C15
3    NaN    C30
4    NaN    C32
5    NaN    C34
6    NaN    C35
7    NaN    C51
8    NaN    C52
9    NaN    C53
10   NaN    C54
11   NaN    C55
12   NaN    C56
13   NaN    C57
14   NaN    C58

In [10]:
condition['first'] = condition['first'].fillna(method='ffill')
print(condition.shape)
condition.iloc[:15, :]

(58, 2)

   first second
0     D1     C6
1     D1    C14
2     D1    C15
3     D1    C30
4     D1    C32
5     D1    C34
6     D1    C35
7     D1    C51
8     D1    C52
9     D1    C53
10    D1    C54
11    D1    C55
12    D1    C56
13    D1    C57
14    D1    C58

In [11]:
col_list = condition['first'].unique().tolist()

for first_col in col_list:
    sec_col_list = condition[condition['first'] == first_col]['second'].tolist()
    string = first_col + ' ~ '
    for sec_col in sec_col_list:
        string += ' %s + '%sec_col
    print(string)

D1 ~  C6 +  C14 +  C15 +  C30 +  C32 +  C34 +  C35 +  C51 +  C52 +  C53 +  C54 +  C55 +  C56 +  C57 +  C58 +
D2 ~  C1 +  C2 +  C3 +  C4 +  C10 +  C11 +  C12 +  C6 +  C14 +  C15 +  C22 +  C23 +  C24 +  C25 +  C26 +  C42 +  C27 +  C49 +  C50 +  C51 +  C52 +  C53 +  C54 +  C55 +  C57 +  C58 +
D3 ~  C9 +  C14 +  C15 +  C23 +  C24 +  C25 +  C26 +  C42 +  C29 +  C49 +  C51 +  C52 +  C53 +  C54 +  C55 +  C57 +  C58 +